*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #f0f0dd;
}
.header-navbar{
    margin-top: 20px;
    display: flex;
    align-items: center;
    /* background-color: #74d0f1; */
}
.header-logo{
    justify-content: space-around;
    align-items: center;
    margin-left: 160px;
    font-size: 2.2rem; 
}
.header-list ul{
    display: flex;
    justify-content: space-around;
    gap: 3.5rem;
}
.header-list ul li{
    list-style: none;
    margin-left: 3rem;
}
.header-list ul li a{
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 18px;
}
.header-list ul li a:hover{
    background-color: rgb(29, 133, 11);
    color: white;
    /* border: 1px solid black; */
    padding: 3px 22px;
    border-radius: 10px;
}
main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 119px;
}
.left-section{
    display: inline-block;
    margin-top: 3.5rem;
    justify-content: space-around;
    align-items: center;
}
.left-section-div p{
    margin: 10px;
}
.left-section-div h1{
    font-weight: bolder;
    font-size: 100px;
}
.left-section-div button{
        background-color: rgb(29, 133, 11);
        padding: 4px 10px;
        cursor: pointer;
        color: white;
        border: 1px solid white;
        border-radius: 10px;
        font-weight: 600;
        margin-top: 10px;
        font-size: 30px;
    }
    
.left-section button:hover{
    background-color: white;
    color: black;
    /* border: 1px solid black; */
}
.right-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 40px;
}
.right-section-img img{
    border-radius: 13px;
    margin: 5px;
}
.pic1{
    width: 240px;
    height:220px;
    object-fit: cover;
}
.img2{
    width: 240px;
    height: 290px;
    object-fit: cover;
}
.img3{
    width: 500px;
    height: 250px;
    object-fit: cover;
}